@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css');
@import url('https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css');

/* Section below makes map occupy full screen */
html,
body,
#map {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
}

/* Section below makes storyboard stick to main window of the browser */
#storyboard {
  position: -webkit-sticky;
  position: sticky;
}

/* Section below makes footer extend to the left, right, and bottom edge of the geonarrative */
#footer {
  width: 100%;
  height: 30vh;
  color: white;
  background: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Section below makes cover page aka "section 1" in index.html occupty full screen */
#cover {
  width: 100%;
  height: 100%;
  background: #fff;
  background-color: rgba(0, 0, 0, 0.3);

  /* Code below is for background image for cover section aka "section 1" in index.html */
  /* AM CURRENTLY TESTING BACKGROUND IMG WITH income.jpg, IS NOT ACTUAL BACKGROUND IMAGE */
  /* For line below referenced for background image on a webpage: https://www.w3schools.com/html/html_images_background.asp */
  background-image: url('../img/income.png'); 
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}
/* Style code below for "section 1" in index.html */
#intro {
  position: relative;
  top: 32%;
  left: 50%;
  transform: translateX(-50%) translateY(-32%);
  width: 50%;
  color: #fff;
  padding: 2rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 0 3px rgba(0, 0, 0, .95);
}

#intro .footnote {
  text-align: right;
}

#intro .footnote a {
  margin-right: 0.5rem;
  vertical-align: top;
}

#intro .footnote span {
  position: relative;
  bottom: -0.5rem;
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, .95);
  font-style: italic;
  font-size: small;
}


/* Section below for "scene" class in the index.html file */
.scene {
  position: relative;
  max-width: 40rem;
  /* margin: 0 auto 0 auto; */
  margin: 0 auto 0 4rem;
  padding: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
}

.scene:first-child {
  margin-top: -30%;
}

.scene:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.scene p {
  padding-left: 1rem;
  padding-right: 1rem;
  color: black;
  text-shadow: 0 0 6px white;
}

/* Section below for various scene customization */
[data-scene="4"] div {
  font-size: xxx-large;
}

[data-scene="5"] img {
  display: block;
  margin: 2rem auto 0 auto;
  width: 90%;
  border: 5px solid white;
}

[data-scene="6"] {
  background: url("../img/background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto 0 auto !important;
  height: 100vh !important;
}